/*
font-family: 'Ubuntu', sans-serif;
300, 300i, 400, 400i, 500, 700

font-family: 'Poppins';
 */
$bg-color: #EBCFB2;
$dark: #424b54;

:root {
  font-size: 62.5%;
}

body {
  background-color: $bg-color;
  font-family: 'Ubuntu', sans-serif;
}

nav.navbar {
  padding: 20px 5%;
  align-items: flex-start;

  .navbar-brand {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Poppins';
  }

  .nav-link {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

section {
  padding: 20px 5%;

  &:nth-of-type(2n) {
    background-color: white;
  }

  h1 {
    font-weight: 400;
    text-align: right;
    padding-top: 10px;
    margin-bottom: 120px;
  }

  p {
    font-size: 1.6rem;
    font-weight: 300;
  }

  .container-fluid {
    padding: 0;
  }
}
