/*
font-family: 'Ubuntu', sans-serif;
300, 300i, 400, 400i, 500, 700

font-family: 'Poppins';
 */
$bg-color: #7dba84; // $bg-color: #EBCFB2;
$heading-color: rgba(50, 50, 50, 0.6); // $heading-color: #424b54;
$mobile-header-push-height: 90px;
$x-padding: 5%;
$y-padding: 20px;

:root {
  font-size: 62.5%;
}

body {
  background-color: $bg-color;
  font-family: 'Ubuntu', sans-serif;
}

nav.navbar {
  padding: $y-padding $x-padding;
  align-items: flex-start;

  .navbar-brand {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Poppins';
  }

  .nav-item:not(:last-of-type) {
    border-bottom: solid 1px $heading-color;
  }

  .nav-link {
    font-size: 1.5rem;
    font-weight: 300;
  }
  // Media queries
  @media (min-width: 768px) {
    background-color: transparent!important;
  }
  @media (max-width: 767.98px) {
    flex-direction: row!important;
    align-items: center;
  }
}

section {
  min-height: 1000px;
  padding: $y-padding $x-padding;

  &:nth-of-type(2n) {
    background-color: #fff;
  }

  h1 {
    font-weight: 400;
    padding-top: 10px;
    margin-bottom: 20px;
    color: $heading-color;
  }

  p {
    font-size: 1.6rem;
    font-weight: 300;
  }

  .row {
    align-items: center;
  }

  .content-image {
    width: 100%;
    border-radius: 100%;
  }

  .page-anchor {
    position: relative;
    visibility: hidden;
  }

  .container-fluid {
    padding: 0;
  }
  // Media queries
  @media (min-width: 768px) {
    padding-left: 300px;

    h1 {
      text-align: right;
    }

    .page-anchor {
      bottom: $y-padding;
    }
  }
  @media (max-width: 767.98px) {
    &:first-of-type {
      padding-top: $mobile-header-push-height;
    }

    .page-anchor {
      bottom: $mobile-header-push-height;
    }
  }
}
